.jumbotroon{
    padding: 2rem;
    background-color: #a2d9ff;
}

#Activities{
    padding: 2rem;
    background-color: #a2d9ff;
}

#Education {
    padding: 2rem;
    background-color: #a2d9ff;
}

#Skill {
    padding: 2rem;
    background-color: #a2d9ff;
}

#footer {
    padding: 2rem;
    background-color: #0d6efd;
}